body {
  background-color: black;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: yellow;
  font-weight: bold;
}
h1:hover {
  color: palevioletred;
}
.git {
  background-color: wheat;
  width: 350px;
  height: 200px;
  margin-left: 490px;
  border-radius: 20px;
  margin-top: 120px;
  box-shadow: 5px 5px 5px 5px #ccc;
}
h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
  color: rgb(128, 49, 49);
}
button {
  margin-left: 120px;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: blueviolet;
  font-size: 18px;
  font-weight: bold;
}
button:hover {
  background-color: rgb(68, 66, 66);
}
